*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Segoe UI', Tahoma, Verdana, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
.container {

    height: 550px;
    width: 350px;
    background-color:rgb(27, 13, 13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}
.upper{
color: white;
height: 23%;
font-size: 40px;
display: flex;
justify-content: end;
align-items: center;
margin-right: 38px;
}
.lower{
 height: 77%;
justify-content: center;
display: grid;
grid: repeat(5,70px)/ repeat(4, 70px);
grid-template-rows: repeat(5,70px)/ repeat(3, 90px);
grid-row-gap :10px;
grid-column-gap :10px;
}
.btn{
    font-size: 32px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}
#zero_big{
    font-size: 32px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    width: 150px;
    grid-column: span 2;
}

.p{
    background-color: rgb(255, 181, 69);
}
.p:hover{
    background-color:rgb(234, 209, 172);
}
button:hover{
    background-color: rgb(234, 209, 172);
    cursor:pointer;
}
#zero_big:hover{
    background-color: rgb(234, 209, 172);
    cursor:pointer;
}
button{
    border: none;
    border-radius: 10px;
}
#clear{
    font-weight: 500;
}
#erase{
    font-weight: 500;
}
